<?php
defined('BASEPATH') OR exit('No direct script access allowed');

class Daftar_controller extends CI_Controller {

	public function __construct()
	{
		parent::__construct();
		//Do your magic here
		$this->load->helper('form','session');
		//load email
        $config = array(
		    'protocol' 	=> 'smtp',
		    'smtp_host' => 'ssl://smtp.googlemail.com',
		    'smtp_port' => 465,
		    'smtp_user' => 'noreply.tyfindonesia@gmail.com',
		    'smtp_pass' => '***************',
		    'mailtype'  => 'html',
		    'charset'   => 'iso-8859-1',
		    'wordwrap' 	=> TRUE,
		    'newline' 	=> "\r\n"
		);
		//load konfigurasi email
		$this->load->library('email', $config);
	}

	function register()
	{

		//validasi jumlag grups
		$acak = rand(750,999);
		$jumlah =$this->input->post('jumlah');
		// ubah disini soal harga tiket
		$harga_tiket_individu = 40000;
		$harga_tiket_grup			= 25000;

		if (($jumlah>1) && ($jumlah<11)) {
			$jp 			= $jumlah;
			$j_bayar 	= ($jumlah * $harga_tiket_grup) + $acak;
			$jenis_peserta = '2';
		} else {
			$jp 			= 1;
			$j_bayar 	= $harga_tiket_individu + $acak;
			$jenis_peserta = '1';
		}


		//data dari form
		//$jenis_peserta 	= $this->input->post('jenis_peserta');
		$nama 					= $this->input->post('nama');
		$jenis_kelamin 	= $this->input->post('jenis_kelamin');
		$tanggal_lahir 	= $this->input->post('tanggal_lahir');
		$alamat 				= $this->input->post('alamat');
		$email 					= $this->input->post('email');
		$hp 						= $this->input->post('hp');
		$asal_organisasi 		= $this->input->post('asal_organisasi');
		$alamat_organisasi 	= $this->input->post('alamat_organisasi');
		$pelayanan 					= $this->input->post('pelayanan');

		//prepare for submit
		$tabel = 'peserta';
		$data = array(
			'tipe' 						=> $jenis_peserta,
			'jumlah_peserta' 	=> $jp,
			'nama' 						=> $nama,
			'j_kelamin' 			=> $jenis_kelamin,
			'tgl_lahir' 			=> $tanggal_lahir,
			'alamat' 					=> $alamat,
			'email' 					=> $email,
			'wa_line' 				=> $hp,
			'asal_organisasi' 	=> $asal_organisasi,
			'alamat_organisasi' => $alamat_organisasi,
			'pelayanan' 			=> $pelayanan,
			'total_tagihan'		=> $j_bayar
			);

		//submit to database
		$no_pendaftaran = $this->Main_model->register($tabel, $data);
		if ($this->db->affected_rows()) {
			//jika berhasil
			$d_register = array (
					'email' => $email,
					'id' 		=> $no_pendaftaran,
					'nama' 	=> $nama,
					'tipe' 	=> $jenis_peserta,
					'jumlah'=> $jp,
					'bayar' => $j_bayar
				);
			//echo "berhasil";
			$this->send_confirm($d_register);
		}else{
			echo "gagal";
		}
	}

	//========================================================================\\
			 			// FOR EMAIL CONFIRMATION
	//========================================================================\\

	function send_confirm($data)
	{

		//Dikirim ke alamat
		$this->email->to($data['email']);

		//=============================================================================
		//dikirim dari
		$this->email->from('noreply.tyfindonesia@gmail.com','TYF Indonesia');
		//=============================================================================

		//isi pesan (bisa teks atau HTML)
		/*
		 jika Anda menggunakan fitur waiting list, silahkan hilangkan comment berikut
		 $isi_pesan = $this->load->view('email/waiting_list',$data,true);
		 $this->email->subject('[Waiting List], '.$data['nama'].'!');
		*/
		// Email balasan Normal
		$isi_pesan = $this->load->view('email/bayar',$data,true);
		$this->email->subject('Satu langkah lagi, '.$data['nama'].'!');
		// email balasan normal end

		$this->email->message($isi_pesan);
		if($this->email->send())
	     {
					//jika berhasil..
					 $this->thankyou($data);
	     }
	     else
	     {
					//jika gagal..
	         show_error($this->email->print_debugger());
	     }
	}

	function thankyou()
	{
		$data['judul']		= "Terima Kasih!";
		$data['keywords']	= "Tabernacle Youth Fellowship (TYF)";
		$data['description']= "Tabernacle Youth Fellowship (TYF) mulai terbentuk sejak 2009 dan mulai aktif melakukan kegiatan event nasional yang berawal di Surabaya. Selanjutnya TYF terus melakukan kegiatan nasional tahunan dengan berpindah kota dari daerah Jawa Barat, Jawa Tengah dan Jawa Timur.";

		$this->load->view('registrasi/thankyou', $data);
	}
}

/* End of file Daftar.php */
/* Location: ./application/controllers/Daftar.php */
