/*/////////////////////////////////////////////////////////////////////
 // 
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 // 
 // ----------------------------------------------------
 // 
 // Remove unused code for better performances
 // 
 // ----------------------------------------------------
 // 
 // @see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 // 
 // @note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //   background: #ff0000;
 // }
 // 
 /////////////////////////////////////////////////////////////////////*/


/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */

#header {
  /* 1. Header wrapper */
  box-shadow: 0 0 4px #bbb;
}

.header{
  box-shadow: 0 0 4px #bbb !important;
  border-bottom: none !important;
  padding: 8px 0px !important;
}

#highlighted {
  /* 2. Highlighted (below header) wrapper */
}

#content {
  /* 3. Content wrapper */
}

#content-below {
  /* 4. Content Below wrapper */
}

#footer {
  /* 5. Footer wrapper */
}

.logo-acara{

}
/* redefine botton  */
.btn-inverse{
  border-radius: 3px 20px;
}

.b-1-em{
  margin-bottom: 1em;
}
.t-1-em{
  margin-top: 1em;
}

/* tombol register now header  */
.register_now {
  background-color: #34495e;
  color: #f1f1f1 !important;
  border-radius: 2px 30px;
}

/* Judul Slide Show Awal */
#highlighted h1.fls{
    color: #205c7a;
    font-size: 5vw;
    text-align: center;
    margin-top: 1em;
}
/*#highlighted h1.fls span{
    padding: 0 30px;
    border-radius: 20px;
    background-color: #205c7a;
}*/

#highlighted h1.tahun{
    color: #e55346;
    font-size: 5vw;
    text-align: center;
}
/* button untuk slide  */
.btn-slide {
  animation-delay: 0.55s;
  border-radius: 3px 50px;
  background-color: #2980b9;
  color: #fff;
  font-weight: 600;
  padding: 1em;
}

.btn-slide:hover{
  background-color: #3498db;
  color: #fff;
}


/*
 * --------------------------------------------------
 * 2. Colours
 *-------------------------------------------------- 
 */


/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
body.modal-open {
  padding: 0 !important;
}
body.modal-open .jPanelMenu-panel {
  position: static !important;
}

/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */

@media (min-width: 576px) {
  /* Small devices (576px and up) */
}

@media (min-width: 768px) {
  /* Medium devices (768px and up) */
}

@media (min-width: 992px) {
  /* Large devices (992px and up) */
}

@media (min-width: 1200px) {
  /* X-Large devices (1200px and up) */
}


/* max-width */

@media (max-width: 575px) {
  /* Small devices (575px and down) */
  #highlighted h1.fls{
        font-size: 11vw;
    }
    #highlighted h1.tahun{
        font-size: 11vw;
    }
}

@media (max-width: 767px) {
  /* Medium devices (767px and down) */
}

@media (max-width: 991px) {
  /* Large devices (992px and down) */
}

@media (max-width: 1199px) {
  /* X-Large devices (1200px and down) */
}


/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */